# Generic ignores
.DS_Store
*.swp
*~

# Bulk data directories
.local/
.cache/
.vscode-oss/
node_modules/
venv/
.venv/
__pycache__/

# Specific browser/app data
Vieb/
Cache/
Code\ Cache/
GPUCache/
Session\ Storage/
Local\ Storage/

# Emacs specific
eln-cache/
auto-save-list/
tramp
dist/
